<div class="w-full">
  <form class="flex">
    <label for="email-address" class="sr-only">Email address</label>
    <input id="email-address" name="email-address" type="email" autocomplete="email" required class="w-3/4 border-white px-5 py-3 placeholder-gray-500 focus:outline-none rounded-md drop-shadow-lg" placeholder="Sign up for our newsletter">
    <button type="submit" class="w-1/4 flex items-center justify-center px-5 py-3 border border-transparent shadow text-base font-medium rounded-md text-white bg-primary ml-3 drop-shadow">
      Sign Up
    </button>
  </form>
</div>