<div class="flex justify-start">
  <a href="#" class="border-2 w-8 h-8 flex items-center justify-center rounded-sm mr-5 font-medium">T</a>
  <a href="#" class="border-2 w-8 h-8 flex items-center justify-center rounded-sm mr-5 font-medium">IG</a>
  <a href="#" class="border-2 w-8 h-8 flex items-center justify-center rounded-sm font-medium">F</a>
</div>