<footer>
  <div class="container mx-auto">
    <Footer::NewsletterSignup />
    <Menus::FooterNav />
  </div>
  

  <div class="container mx-auto">
    <div class="grid grid-cols-3 gap-3">
      <Footer::Social />
      <a href="">My Account</a>
      <a href="">Sitemap</a>
    </div>
  </div>
</footer>