<footer>
  <Footer::NewsletterSignup />
  <section>
    <div class="container mx-auto">
      <Menus::FooterNav />
    </div>
  </section>
  <div class="bg-gray-400 py-3">
    <div class="container mx-auto">
      <div class="grid grid-cols-3 gap-3">
        <Footer::Social />
        <a href="">My Account</a>
        <a href="">Sitemap</a>
      </div>
    </div>
  </div>
  
</footer>