<div class="grid grid-cols-2 md:grid-cols-4 gap-3">
  <div class="box-border bg-black text-white text-center p-3 mb-1">Warranty Category</div>
  <div class="box-border bg-black text-white text-center p-3 mb-1">Warranty Category</div>
  <div class="box-border bg-black text-white text-center p-3 mb-1">Warranty Category</div>
  <div class="box-border bg-black text-white text-center p-3 mb-1">Warranty Category</div>
  <div class="box-border bg-black text-white text-center p-3 mb-1">Warranty Category</div>
  <div class="box-border bg-black text-white text-center p-3 mb-1">Warranty Category</div>
  <div class="box-border bg-black text-white text-center p-3 mb-1">Warranty Category</div>
  <div class="box-border bg-black text-white text-center p-3 mb-1">Warranty Category</div>
</div>