<div class="grid grid-cols-2 gap-5">
  <a href="/faq">FAQ</a>
  <a href="/blog">Blog</a>
  <a href="/affiliate-programs">Affiliate Programs</a>
  <a href="/refer-a-friend">Refer a Friend</a>
  <a href="/privacy-policy">Privacy Policy</a>
  <a href="/jobs">Jobs</a>
</div>
