{{page-title "Index"}}
<section>
  <div class="container mx-auto">
    <div class="text-center md:text-left">
      <h2 class="text-4xl">Protect your products AND your wallet</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit nam molestias similique, nihil quos assumenda rem impedit! Inventore soluta beatae exercitationem iure! Doloribus, ducimus neque ipsam ab veritatis possimus. Dolorem.</p>
    </div>
    
  </div>
</section>

<section>
  <div class="container mx-auto">
    <Warranties::Categories::List />
  </div>
</section>

{{outlet}}