{{page-title "EmberQuickstart"}}

<div class="messages">
  <ReceivedMessage />
  <SentMessage />

  <NewMessageInput />
</div>
<hr/>

<section class="mt-5">
  <TailwindTest />
</section>



{{outlet}}