{{page-title "Index"}}

<section>
  <div class="container mx-auto">
    <div class="grid grid-cols grid-cols-1 md:grid-cols-2 gap-5">
      <div class="flex flex-col justify-center items-start text-center md:text-left">
        <h1 class="my-4 mx-auto md:mx-0">
          Why Upsie?
        </h1>
        <p class="text-xl mb-8 w-full">
          Less pressure, lower prices, better service.
        </p>
        <a href="/warranties" class="mx-auto lg:mx-0 bg-white py-2 px-8 shadow-lg">
          Explore Warranties
        </a>
      </div>
      <div class="w-full text-center">
        <img src="https://via.placeholder.com/768x600" />
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container mx-auto">
    <div class="grid grid-cols-3 md:grid-cols-2 items-center gap-5">
      <div class="">
        <img src="https://via.placeholder.com/768x600" alt="">
      </div>
      <div class="col-span-2 md:col-span-1">
        <h3>
          Really affordable warranties
        </h3>
        <p class="mb-8">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at ipsum eu nunc commodo posuere et sit amet ligula.
        </p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container mx-auto">
    <div class="grid grid-cols-3 md:grid-cols-2 items-center gap-5">
      <div class="col-span-2 md:col-span-1">
        <h3 class="mb-3">
          Confusion-free coverage
        </h3>
        <p class="mb-8">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at ipsum eu nunc commodo posuere et sit amet ligula.
        </p>
      </div>
      <div>
        <img src="https://via.placeholder.com/768x600" alt="">
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container mx-auto">
    <div class="grid grid-cols-3 md:grid-cols-2 items-center gap-5">
      <div>
        <img src="https://via.placeholder.com/768x600" alt="">
      </div>
      <div class="col-span-2 md:col-span-1">
        <h3 class="mb-3">
          Uncompromising customer service
        </h3>
        <p class="mb-8">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at ipsum eu nunc commodo posuere et sit amet ligula.
        </p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container mx-auto">
    <h2 class="w-full text-center">Why do You Warranty?</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-5">
      <div class="text-center">
        <img src="https://via.placeholder.com/500" alt="">
        <p class="mt-3">Reason #111 My dog loves to help me with work.</p>
      </div>
      <div class="text-center">
        <img src="https://via.placeholder.com/500" alt="">
        <p class="mt-3">Reason #111 My dog loves to help me with work.</p>
      </div>
      <div class="text-center">
        <img src="https://via.placeholder.com/500" alt="">
        <p class="mt-3">Reason #111 My dog loves to help me with work.</p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container mx-auto">
    <div class="grid grid-cols grid-cols-1 md:grid-cols-2 gap-5">
      <div class="flex flex-col w-full justify-center items-start text-center md:text-left">
        <h2 class="my-4 mx-auto md:mx-0">
          Warranties that work for you, not for them.
        </h2>
        <p class="w-full mb-5">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id nobis, commodi eos animi explicabo nihil asperiores eaque quod sit impedit saepe molestiae atque unde laboriosam aperiam, illum consectetur expedita voluptatem.
        </p>
        <button class="mx-auto lg:mx-0 bg-white py-2 px-8 shadow-lg">
          Meet Upsie
        </button>
      </div>
      <div class="text-center">
        <img src="https://via.placeholder.com/768x600" />
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-5">
      <div class="text-center">
        <Testimonial />
      </div>
      <div class="text-center">
        <Testimonial />
      </div>
      <div class="text-center">
        <Testimonial />
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container mx-auto">
    <div class="flex flex-wrap">
      <div class="w-1/4">
        <h3>Trusted by the experts</h3>
      </div>
      <div class="w-3/4">
        <LogoCloud />
      </div>
    </div>
  </div>
</section>
{{outlet}}