{{page-title "Index"}}
<!--Hero-->
<section class="pt-6 md:pt-24">
  <div class="container mx-auto">
    <div class="flex flex-wrap flex-col md:flex-row items-center">
      <!--Left Col-->
      <div class="flex flex-col w-full md:w-1/2 justify-center items-start text-center md:text-left p-3 md:p-6">
        <h1 class="my-4 text-5xl font-bold leading-tight mx-auto md:mx-0">
          Why Upsie?
        </h1>
        <p class="leading-normal text-xl mb-8 w-full">
          Less pressure, lower prices, better service.
        </p>
        <button class="mx-auto lg:mx-0 bg-white text-gray-800 font-bold py-2 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
          Subscribe
        </button>
      </div>
      <!--Right Col-->
      <div class="w-full md:w-1/2 p-3 md:p-6 text-center">
        <img class="z-50" src="https://via.placeholder.com/768x600" />
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container mx-auto">
    <div class="flex flex-wrap items-start md:items-center">
      <div class="w-1/3 sm:w-1/2 p-3 md:p-6">
        <img src="https://via.placeholder.com/768x600" alt="">
      </div>
      <div class="w-2/3 sm:w-1/2 p-3 md:p-6">
        <h3 class="md:text-3xl text-gray-800 font-bold leading-none mb-3">
          Really affordable warranties
        </h3>
        <p class="text-gray-600 mb-8">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at ipsum eu nunc commodo posuere et sit amet ligula.
        </p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container mx-auto">
    <div class="flex flex-wrap items-start md:items-center">
      <div class="w-2/3 sm:w-1/2 p-3 md:p-6">
        <h3 class="md:text-3xl text-gray-800 font-bold leading-none mb-3">
          Confusion-free coverage
        </h3>
        <p class="text-gray-600 mb-8">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at ipsum eu nunc commodo posuere et sit amet ligula.
        </p>
      </div>
      <div class="w-1/3 sm:w-1/2 p-3 md:p-6">
        <img src="https://via.placeholder.com/768x600" alt="">
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container mx-auto">
    <div class="flex flex-wrap items-start md:items-center">
      <div class="w-1/3 sm:w-1/2 p-3 md:p-6">
        <img src="https://via.placeholder.com/768x600" alt="">
      </div>
      <div class="w-2/3 sm:w-1/2 p-3 md:p-6">
        <h3 class="md:text-3xl text-gray-800 font-bold leading-none mb-3">
          Uncompromising customer service
        </h3>
        <p class="text-gray-600 mb-8">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at ipsum eu nunc commodo posuere et sit amet ligula.
        </p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container mx-auto">
    <h2 class="w-full text-center md:text-3xl font-bold">Why do You Warranty?</h2>
    <div class="flex flex-wrap pt-4">
      <div class="w-full md:w-1/3 p-3 text-center">
        <img src="https://via.placeholder.com/500" alt="">
        <p class="md:text-xl mt-3">Reason #111 My dog loves to help me with work.</p>
      </div>
      <div class="w-full md:w-1/3 p-3 text-center">
        <img src="https://via.placeholder.com/500" alt="">
        <p class="md:text-xl mt-3">Reason #111 My dog loves to help me with work.</p>
      </div>
      <div class="w-full md:w-1/3 p-3 text-center">
        <img src="https://via.placeholder.com/500" alt="">
        <p class="md:text-xl mt-3">Reason #111 My dog loves to help me with work.</p>
      </div>
    </div>
  </div>
</section>
<section class="pt-6 md:pt-12">
  <div class="container mx-auto">
    <div class="flex flex-wrap flex-col md:flex-row items-center">
      <!--Left Col-->
      <div class="flex flex-col w-full md:w-1/2 justify-center items-start text-center md:text-left p-3 md:p-6">
        <h1 class="my-4 text-xl md:text-5xl font-bold leading-tight mx-auto md:mx-0">
          Warranties that work for you, not for them.
        </h1>
        <p class="w-full mb-5">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id nobis, commodi eos animi explicabo nihil asperiores eaque quod sit impedit saepe molestiae atque unde laboriosam aperiam, illum consectetur expedita voluptatem.
        </p>
        <button class="mx-auto lg:mx-0 bg-white text-gray-800 font-bold py-2 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
          Meet Upsie
        </button>
      </div>
      <!--Right Col-->
      <div class="w-full md:w-1/2 p-3 md:p-6 text-center">
        <img class="z-50" src="https://via.placeholder.com/768x600" />
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container mx-auto">
    <div class="flex flex-wrap pt-4">
      <div class="w-full md:w-1/3 p-3 text-center">
        <Testimonial />
      </div>
      <div class="w-full md:w-1/3 p-3 text-center">
        <Testimonial />
      </div>
      <div class="w-full md:w-1/3 p-3 text-center">
        <Testimonial />
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container mx-auto">
    <div class="p-3">
      <h3>Trusted by the experts</h3>
    </div>
    <div class="py-10">
      <LogoCloud />
    </div>
    
  </div>
</section>
{{outlet}}